* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: orangered;
    padding: 5px 0;
}

h1 {
    font-size: 20px;
    color: white;
    margin-left: 50px;
}

.wrapper {
    margin: 0 auto;
    padding: 20px;
    width: 800px;
    height: 100vh;
    background-color: #FBFCFC;
}

.input {
    display: block;
    width: 50%;
    margin:0 auto 20px;
    padding: 10px;
    border:2px solid #AED6F1;
    border-radius: 8px;
    background-color: #E8F6F3; 
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.createEl {
    margin: 30px auto;
    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    display:block;
    font-size: 14px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .createEl:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .createEl:active {
    opacity: 0.5;
  }
  
 .divider {
    height: 2px;
    background-color: #D7DBDD;
    margin-bottom: 10px;
 }

 .list {
    list-style: none;
    margin-right: 25px;
 }

 .headingEl {
    color: #34495E ;
    font-size: 20px;
    display: inline-block;
    margin: 0 20px 20px 20px;
 }

.descriptionEl {
    color: #34495E;
    margin-left: 40px;
    padding-bottom: 20px;
}

 .isDone {
    border-radius: 5px;
 }

 .done {
    text-decoration: line-through;
 }

 .deleteBtn {
    margin: 0px;
    margin-left: 500px;

    background-color: #f44336;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    font-size: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .deleteBtn:disabled {
    display: none;
  }
